* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: #f0f0f0;
 display: flex;
 align-items: center;
 justify-content: center;
 color: #000;
 height: 100hv;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 18px;
 font-family: sans-serif;
}

.dark {
    color: #fff;
    background-color: #131212;
}

.dark header {
    background-color: #000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.dark button {
    color: #fff;
    background-color: #242526;
}

button {
 cursor: pointer;
 border: none;
}

.btn {
    background-color: #e6eaef;
    color: #000;
    padding: 10px;
    border-radius: 6px;
}


.header {
    top: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-height: 10%;

    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

    font-size: 28px;
    font-weight: bold;
    text-align: left;
    align-items: center;
}


.weather {
    max-width: 100%;
    margin-top: 85px;
    text-align: center;
    padding: 15px;
    display: block;
}

.weather__location {
    font-size: 28px;
    margin-bottom: 8px;
}

.weather__temp {
    font-size: 16px;
}

.weather__buttons {
    margin-top: 15px;
    justify-content: center;
    display: flex;
}

.weather__button {
    margin-right: 8px;

}

.weather__button:last-child {
    margin-right: 0;
    margin-left: 8px;
}